<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <form action="" method="post">
        <label for="nombre">Nombre </label>
        <input
          type="text"
          name="nombre"
          id="nombre"
        />
        <br>
        <label for="telefono">Telefono </label>
        <input
          type="number"
          name="telefono"
          id="telefono"
        />  
        <br>

        <label for="contrasenha1">Contrasenha1 </label>
        <input
          type="password"
          name="contrasenha1"
          id="contrasenha1"
        />
        <br>

        <label for="contrasenha2">Contrasenha2 </label>
        <input
          type="password"
          name="contrasenha2"
          id="contrasenha2"
        />
        <br>

        <input type="submit" value="Registrar" />
      </form>
</body>
</html>